<ion-col class="disp-header d-flex">
    <ion-col class="width-50 ion-no-padding">
        <h4 id="dispHeader" class="disp-title">{{headerText}}</h4>
    </ion-col>
    <ion-col class="width-50">
        <ion-icon mat-dialog-close class="ion_icon_search_val disp-close" [src]="createSvgUrl('close.svg')" aria-label="Close" id="dispModalClose"></ion-icon>
    </ion-col>
</ion-col>
        <ion-col class="disp-text">                
                <span>{{textmsg}}</span>
        </ion-col>
        <ion-col class="d-flex disp-footer">
            <ion-button *ngIf="dispCancel" type="button" color="light" id="canceldispBtn" class="shadowbtn btn btn-default cancel-disp" aria-label="Close" mat-dialog-close>Cancel</ion-button>
            <ion-button type="button" id="actiondispBtn" class="shadowbtn btn action-disp mar-l-15 " [ngClass]="(buttonText =='Delete' || buttonText =='Stop') ? 'danger-mod':'save-mod'" aria-label="Close" (click)="returnvalue()">{{buttonText}}</ion-button>
        </ion-col>
