<ion-row class="df-col">
    <!-- <div class="model-head">
    <div>Alarm Data Preview
    </div>
    <button mat-dialog-close  type="button" class="disp-close" aria-label="Close" id="ModalClose">
        &times;
     </button>
    </div> -->

    <ion-col class="col-12 model-body f-max">
        <ion-row class="record-det">
            <ion-row class="record-det-sub">
                <ion-col>
                    <ion-text class="head-rec">{{dataSetName}}</ion-text>
                </ion-col>
                <ion-col size="6">
                    <ion-radio-group *ngIf='!radioButtonDisabled' class="radio-feild-model" value='storedDataType'
                        (ionChange)='switchDataTypeFilter($event)' aria-label="Select an option" name="options">
                        <ion-col>
                            <ion-radio value='storedDataType' name="StoreData" class="radio-button">
                            </ion-radio>
                            <ion-label class="option-label">Stored Data</ion-label>
                        </ion-col>
                        <ion-col class="radio_css_val">
                            <ion-radio value='streamDataType' class="radio-button" name="StreamData">
                            </ion-radio>
                            <ion-label class="option-label">Stream Data</ion-label>
                        </ion-col>
                    </ion-radio-group>
                </ion-col>
                <ion-col>
                    <ion-text class="num-rec">Number of Records: </ion-text>
                    <ion-text class="rec-count">{{config.totalItems}}</ion-text>
                </ion-col>
            </ion-row>
        </ion-row>
        <ion-row class="row no-mar page_css_view no-padd">
            <ion-col size="3" class="d-flex load_mat_css paginate_css">
                <!-- <i class="fa fa-search search_fafa" aria-hidden="true"></i>  -->
                <input autocomplete="off" maxlength="150" matInput class="form-control css_search" type="text"
                    [(ngModel)]="searchFilter" placeholder="Search..." (ngModelChange)="onsearchChange(searchFilter)">
                <ion-icon class="ion_icon_search_val" [src]="global.createSvgUrl('search.svg')"></ion-icon>
                <!-- <ion-searchbar autocomplete="off" maxlength="150" showClearButton="never" matInput type="text" [(ngModel)]="searchFilter" placeholder="Search with data id..." (ngModelChange)="onsearchChange(searchFilter)"></ion-searchbar> -->
            </ion-col>

            <!-- <div class="d-flex paginate-align"> -->
            <pagination-template #pT="paginationApi" [id]="config.id" class="d-flex" (pageChange)="changepage($event)">

                <ion-row class="d-flex process_rows_css">
                    <ion-text class="mar-r-8 paginate-text">Rows:</ion-text>
                    <mat-select disableOptionCentering class="select-page" [(ngModel)]="itemPerPage"
                        (selectionChange)="setNewPageSize(itemPerPage)">
                        <mat-option *ngFor="let pgrec of pageArr" [value]="pgrec">{{pgrec}}</mat-option>
                    </mat-select>
                </ion-row>

                <!-- <ion-item class="pagination-previous" [class.disabled]="pT.isFirstPage()" lines="none"> -->
                <ion-button color="dark" expand="full" fill="clear" (click)="pT.previous()"
                    [disabled]="pT.isFirstPage()">
                    < </ion-button>
                        <!-- </ion-item> -->

                        <!-- <div class="d-flex process_matselect">  -->
                        <ion-text class="paginate-text"> Page</ion-text>
                        <input autocomplete="off" style="margin-bottom: 4px;" matInput class="currpage-input"
                            type="text" [(ngModel)]="inputCurrentpage"
                            (change)="changepageinp(inputCurrentpage,pT.getLastPage())">
                        <ion-text class="paginate-text"> of {{pT.getLastPage()}}</ion-text>
                        <!-- </div> -->

                        <!-- <div class="pagination-next" [class.disabled]="pT.isLastPage()"> -->
                        <ion-button color="dark" expand="full" fill="clear" (click)="pT.next()"
                            [disabled]="pT.isLastPage()"> > </ion-button>
                        <!-- </div> -->
            </pagination-template>

            <!-- </div> -->
        </ion-row>




        <div class="prev-tab-main f-max">
            <div class="prev-table-wrap f-max">
                <div *ngIf="previewLoader" class="spinner-div">
                    <mat-progress-spinner color="slategrey" mode="indeterminate">
                    </mat-progress-spinner>
                </div>
                <div *ngIf="!previewLoader" class="table-wrap">
                    <table>
                        <thead>
                            <tr>
                                <th *ngIf="featureName.length === 0">
                                    <div class="feature-thead">
                                        Feature List
                                    </div>
                                </th>
                                <th *ngFor="let featureObj of featureName">
                                    <div class="feature-thead">
                                        {{featureObj.featureName}}
                                        <div class="select-cur" (click)="sort(featureObj.featureName)">
                                            <ion-icon *ngIf="!(key == featureObj.featureName && reverse)"
                                                aria-hidden="false" class="arrow_mat align-middle mat-top-bottom"
                                                aria-label="down icon"
                                                [src]="dataManagementService.createSvgUrl('caret-down-sharp.svg')"
                                                name="caret-down-outline"></ion-icon>
                                            <ion-icon *ngIf="key == featureObj.featureName && reverse"
                                                aria-hidden="false" class="arrow_mat align-middle mat-top-bottom"
                                                aria-label="up icon"
                                                [src]="dataManagementService.createSvgUrl('caret-up-sharp.svg')"
                                                name="caret-up-outline"></ion-icon>
                                        </div>
                                    </div>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr
                                *ngFor="let featureDetObj of featureDeatils | orderBy: key : reverse | filter :searchFilter | paginate: config">
                                <td *ngFor="let featureObj of featureName">
                                    {{featureDetObj[featureObj.fetureKey]}}
                                </td>
                            </tr>
                            <tr *ngIf="(featureDeatils | filter :searchFilter).length === 0">
                                <td class="no-rec" [attr.colspan]="featureName.length">
                                    No records found
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

        <!-- <div class="prev-tab-main f-max">
                <div class="prev-table-wrap f-max">
                    <div class="prev-table df-col" *ngFor="let featureDet of tempFeatureDetails">
                        <div class="table-view-head">
   
                            <div class="item-head">{{featureDet.featureName}}</div>
                        </div>
                        <div class="table-view-body f-max">
                            <div class="tablebody-row">
                            <div class="item-body" *ngFor="let featureVal of featureDet.fetureCount">{{featureVal}}</div>
                        </div>
                        </div>
                    </div>

                </div>
            </div> -->

    </ion-col>

</ion-row>