$mtsclr-border: #CBCBCB;
    $mtsclr-main-border: #797979;
    $mtsclr-feild-border: #B7B7B7;
    $mtsclr-background: #F1F0EF;
    $mtsclr-tr-background: #3B73B733;
    $mtsclr-success-btn: #3B73B7;
    $mtsclr-danger-btn: #C25346;
    $mtsclr-cancel-btn: #CBCBCB;
    $mtsclr-icon: #707070;
    $mtsclr-label: #707070;
    $mtsclr-text: #232323;
    $mtsclr-active: #3B73B7;
    $mtsclr-link: #3B73B7;
    $mtsclr-suspended: grey;
    $mtsclr-waiting: #9C9C9C;
    $mtsclr-waiting-capsule: #F3A64E;
    $mtsclr-edit-btn: #2E619E;
    $mtsclr-white: #FFFFFF;
    $mtsclr-tab: #E0E0E06E;
    $mtsclr-view-btn-border: #E9E9F0;
    $mtsclr-negative: #49698c;
    $mtsclr-positive: #b2d94b;
    $mtsclr-active-btn: #74A7E0;
    $mtsclr-correlate-btn:#2E619E;
    $ion-color-primary:#2e619E;
    $ion-color-light:#ffffff;
    $ion-color-danger:#C25346;
    $ion-color-medium:#B7B7B7;

    