<ion-row class="parent-content main-border">

    <ion-row *ngIf="isLoading" class="spinner-div" lines="none">
        <mat-progress-spinner color="slategrey" mode="indeterminate">
        </mat-progress-spinner>
        <!-- <ion-spinner color="slategrey" name="bubbles" mode="indeterminate"></ion-spinner> -->
    </ion-row>


    <ion-row size="12" *ngIf="!isLoading" class="no-mar wrap-cont">
        <ion-col class="col-12 col-md-4 border-r no-padd" *ngIf="isShown">
            <ion-col class="df-col no-padd">

                <ion-row class="no-mar page_css_view no-padd">
                    <ion-col class="d-flex no-padd load_mat_css paginate_css ion_search">
                        <!-- <i class="fa fa-search search_fafa" aria-hidden="true"></i>  -->
                        <!-- <mat-icon aria-hidden="false" class="search_mat" aria-label="search icon">search</mat-icon> -->
                        <input autocomplete="off" maxlength="150" matInput class="form-control css_search" type="text"
                            placeholder="Search" [(ngModel)]="searchFilter"
                            (ngModelChange)="onsearchChange(searchFilter)">
                        <ion-icon class="ion_icon_search" [src]="forecastService.createSvgUrl('search.svg')"></ion-icon>
                        <!-- <ion-searchbar autocomplete="off" maxlength="150" showClearButton="never" matInput type="text" [(ngModel)]="searchFilter" placeholder="Search with data id..." (ngModelChange)="onsearchChange(searchFilter)"></ion-searchbar> -->
                    </ion-col>

                    <!-- <i class="fa fa-search search_fafa" aria-hidden="true"></i> -->
                    <!-- <mat-icon aria-hidden="false" class="search_mat" aria-label="search icon">search</mat-icon> -->



                    <!-- <div style="margin-left: 10px;" class="paginate-align"> -->
                    <!-- Rows and Pages -->
                    <ion-col class="no-padd d-flex paginate-align">
                        <pagination-template #pT="paginationApi" [id]="config.id" class="d-flex"
                            (pageChange)="changepage($event)">
                            <!-- Rows -->
                            <ion-row class="d-flex process_rows_css">
                                <!-- <mat-select disableOptionCentering class="select-page" [(ngModel)]="itemPerPage" (selectionChange)="setNewPageSize(itemPerPage)">
                                        <mat-option *ngFor="let pgrec of pageArr" [value]="pgrec">{{pgrec}}</mat-option>
                                    </mat-select> -->
                                <ion-text class="mar-r-8 ion-text-small">Rows:</ion-text>
                                <mat-select disableOptionCentering class="select-page" [(ngModel)]="itemPerPage"
                                    (selectionChange)="setNewPageSize(itemPerPage)">
                                    <mat-option *ngFor="let pgrec of pageArr" [value]="pgrec">{{pgrec}}</mat-option>
                                </mat-select>
                                <!-- <ion-item> 
                                    <ion-select disableOptionCentering [(ngModel)]="itemPerPage" (selectionChange)="setNewPageSize(itemPerPage)" >
                                        <ion-select-option *ngFor="let pgrec of pageArr" [value]="pgrec">{{pgrec}}</ion-select-option>
                                    </ion-select> 
                                </ion-item> -->
                            </ion-row>
                            <!-- Pages -->
                            <!-- <div class="pagination-previous" [class.disabled]="pT.isFirstPage()">
                            <ion-button expand="full" fill="clear" (click)="pT.previous()" [disabled]="pT.isFirstPage()"> < </ion-button>
                            </div>
                            <div class="d-flex process_matselect"> 
                                <span class="paginate-text"> Page</span>
                                    <input autocomplete="off" matInput class="currpage-input" type="text" [(ngModel)]="inputCurrentpage" [appAlphaNumeric]="'num'" (change)="changepageinp(inputCurrentpage,pT.getLastPage())">
                            
                            <span class="paginate-text"> of {{pT.getLastPage()}}</span>
                            </div>
                            <div class="pagination-next" [class.disabled]="pT.isLastPage()">
                                <ion-button expand="full" fill="clear" (click)="pT.next()" [disabled]="pT.isLastPage()"> > </ion-button> -->
                            <!-- </div>  -->
                            <ion-button color="dark" class="pagination-previous" expand="full" fill="clear"
                                (click)="pT.previous()" [disabled]="pT.isFirstPage()">
                                < </ion-button>

                                    <ion-text class="ion-text-small"> Page</ion-text>
                                    <input autocomplete="off" matInput class="currpage-input" type="text"
                                        [(ngModel)]="inputCurrentpage" [appAlphaNumeric]="'num'"
                                        (change)="changepageinp(inputCurrentpage,pT.getLastPage())">
                                    <ion-text class="ion-text-small"> of {{pT.getLastPage()}}</ion-text>

                                    <ion-button color="dark" class="pagination-next" expand="full" fill="clear"
                                        (click)="pT.next()" [disabled]="pT.isLastPage()"> > </ion-button>

                        </pagination-template>
                    </ion-col>

                    <!-- </div> -->
                    <!-- </div> -->

                </ion-row>

                <ion-row class="f-max out-table mod-table-scroll">

                    <ion-grid class="df-col no-padd">
                        <ion-row class="row no-mar  head-tr sticky-head">
                            <ion-col class="col-7 cust-thead-th wrap-text">
                                <ion-label class="ion-label-standard bold_text table-header">Model Config Name
                                </ion-label>
                                <ion-label class="select-cur" (click)="sortTask('modelConfigName')">
                                    <!-- <mat-icon *ngIf="!(keyTask == 'modelConfigName' && reverseTask)" aria-hidden="false" class="arrow_mat align-middle" aria-label="down icon">arrow_drop_down</mat-icon>
                                        <mat-icon *ngIf="keyTask == 'modelConfigName' && reverseTask" aria-hidden="false" class="arrow_mat align-middle" aria-label="up icon">arrow_drop_up</mat-icon> -->
                                    <ion-icon *ngIf="!(keyTask == 'modelConfigName' && reverseTask)" aria-hidden="false"
                                        class="arrow_mat align-middle arrow-icon-position"
                                        [src]="forecastService.createSvgUrl('caret-down-outline.svg')"></ion-icon>
                                    <ion-icon *ngIf="keyTask == 'modelConfigName' && reverseTask" aria-hidden="false"
                                        class="arrow_mat align-middle arrow-icon-position"
                                        [src]="forecastService.createSvgUrl('caret-up-outline.svg')"></ion-icon>
                                </ion-label>
                            </ion-col>
                            <ion-col class="col-5 cust-thead-th wrap-text">
                                <ion-label class="ion-label-standard bold_text table-header">Type</ion-label>
                                <ion-label class="select-cur" (click)="sortTask('jobType')">
                                    <!-- <mat-icon *ngIf="!(keyTask == 'jobType' && reverseTask)" aria-hidden="false" class="arrow_mat align-middle" aria-label="down icon">arrow_drop_down</mat-icon>
                                        <mat-icon *ngIf="keyTask == 'jobType' && reverseTask" aria-hidden="false" class="arrow_mat align-middle" aria-label="up icon">arrow_drop_up</mat-icon> -->
                                    <ion-icon *ngIf="!(keyTask == 'jobType' && reverseTask)" aria-hidden="false"
                                        class="arrow_mat align-middle arrow-icon-position"
                                        [src]="forecastService.createSvgUrl('caret-down-outline.svg')"></ion-icon>
                                    <ion-icon *ngIf="keyTask == 'jobType' && reverseTask" aria-hidden="false"
                                        class="arrow_mat align-middle arrow-icon-position"
                                        [src]="forecastService.createSvgUrl('caret-up-outline.svg')"></ion-icon>
                                </ion-label>
                            </ion-col>
                            <!-- <ion-col class="col-2 cust-thead-th wrap-text">
                                <ion-label class="ion-label-standard bold_text table-header">Count</ion-label>
                                <ion-label class="select-cur" (click)="sortTask('modelConfigCount')">
                                  
                                    <ion-icon *ngIf="!(keyTask == 'modelConfigCount' && reverseTask)"
                                        aria-hidden="false" class="arrow_mat align-middle arrow-icon-position"
                                        [src]="forecastService.createSvgUrl('caret-down-outline.svg')"></ion-icon>
                                    <ion-icon *ngIf="keyTask == 'modelConfigCount' && reverseTask" aria-hidden="false"
                                        class="arrow_mat align-middle arrow-icon-position"
                                        [src]="forecastService.createSvgUrl('caret-up-outline.svg')"></ion-icon>
                                </ion-label>
                            </ion-col> -->
                        </ion-row>

                        <!-- <tbody> -->
                        <ion-row class="row no-mar body-tr"
                            [ngClass]="{'table-b-r': (selectedModel && selectedModel.modelConfigName && model.modelConfigName == selectedModel.modelConfigName)}"
                            *ngFor="let model of modelDetails  | orderBy: keyTask : reverseTask | filter:searchFilter | paginate: config; let i = index">
                            <ion-col class="col-7 cust-tbody-td r-name wrap-text" (click)="displayModel(model)">
                                {{model.modelConfigName}}
                            </ion-col>
                            <ion-col class="col-5 cust-tbody-td wrap-text">{{model.jobType}}</ion-col>
                            <!-- <ion-col class="col-2 cust-tbody-td wrap-text">{{model.modelConfigCount}}</ion-col> -->
                        </ion-row>
                        <ion-row class="row no-mar body-tr" *ngIf="(modelDetails | filter:searchFilter).length === 0">
                            <ion-col class="col-12 cust-tbody-td wrap-text no_rec_css">No records found</ion-col>
                        </ion-row>

                        <!-- </tbody> -->
                    </ion-grid>
                </ion-row>
            </ion-col>


        </ion-col>

        <ion-col class="col-12 col-xs-12 col-sm-12 padd-22 df-col cont-scrl" [ngClass]="isShown?'col-md-8':'col-md-12'">
            <ion-row class="fmax sub-cont-scrl">

                <ion-row class="shadowbtn collapse-view-cont" [ngClass]="{'bg-open':!isShown}" (click)="toggleShow()">
                    <!-- <i *ngIf="!isShown" class="fa fa-chevron-right open-tab"></i>
                    <i *ngIf="isShown" class="fa fa-chevron-left close-tab"></i> -->
                <ion-icon *ngIf="!isShown" aria-hidden="false" class="arrow_mat open-tab" [src]="forecastService.createSvgUrl('chevron-forward.svg')"></ion-icon>
                <ion-icon *ngIf="isShown" aria-hidden="false" class="arrow_mat close-tab" [src]="forecastService.createSvgUrl('chevron-back.svg')"></ion-icon>

                    <!-- <mat-icon *ngIf="!isShown" class="arrow_mat open-tab" aria-hidden="false"
                        aria-label="arrowright icon">keyboard_arrow_right</mat-icon>
                    <mat-icon *ngIf="isShown" class="arrow_mat close-tab" aria-hidden="false"
                        aria-label="arrowleft icon">keyboard_arrow_left</mat-icon> -->
                    </ion-row>

                <ion-row class="row no-mar" *ngIf="checkifObjectExist(selectedModelObject) == false">
                    <ion-col class="col-md-12 col-sm-12 col-xs-12 mar-b-25">
                        <ion-label *ngIf="checkifObjectExist(selectedModel) == true" class="head-label">No model
                            configuration details available</ion-label>
                        <ion-label *ngIf="checkifObjectExist(selectedModel) == false" class="head-label">Select at least
                            one model configuration to show the details</ion-label>
                    </ion-col>
                </ion-row>

                <ion-col class="no-padd" *ngIf="checkifObjectExist(selectedModelObject) == true">
                    <ion-row class="row no-mar">
                        <ion-col class="col-md-6 col-sm-6 col-xs-12 mar-b-25">
                            <ion-label class="head-label">{{selectedModelObject.modelConfigName}}</ion-label>
                        </ion-col>

                        <ion-col class="col-md-6 col-sm-6 col-xs-12 mar-b-25">
                            <ion-row class="float-md-right float-sm-right">
                                <!-- <button type="button" class="btn btn-default cancel-mod">Cancel</button> -->
                                <ion-button color="danger" type="button"
                                    class="shadowbtn btn btn-danger delete-mod mar-l-15 ion-noncap-button save-button"
                                    (click)="deleteModelConfig(selectedModelObject)">Delete</ion-button>
                                <ion-button color="primary"
                                    *ngIf="forecastService.activatedPath.includes('forecastselect')" type="button"
                                    class="shadowbtn btn btn-primary save-mod mar-l-15 ion-noncap-button save-button"
                                    (click)="navigateTo('/forecast/forecastselect/modelconfig/updateconfig',selectedModelObject)">
                                    Edit</ion-button>
                                <ion-button color="primary"
                                    *ngIf="forecastService.activatedPath.includes('forecastprocess')" type="button"
                                    class="shadowbtn btn btn-primary save-mod mar-l-15 ion-noncap-button save-button"
                                    (click)="navigateTo('/forecast/forecastprocess/modelconfig/updateconfig',selectedModelObject)">
                                    Edit</ion-button>
                            </ion-row>
                        </ion-col>
                    </ion-row>


                    <ion-row class="row no-mar">
                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
                            <ion-row class="body-label">Name</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.modelConfigName}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
                            <ion-row class="body-label">Lstm Type</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.lstmType}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.blockUnits !== ''">
                            <ion-row class="body-label">Block Unit</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.blockUnits}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.batchSize !== ''">
                            <ion-row class="body-label">Batch size</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.batchSize}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.epochs !== ''">
                            <ion-row class="body-label">Epochs</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.epochs}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.layers !== ''">
                            <ion-row class="body-label">Layers</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.layers}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.dropout !== ''">
                            <ion-row class="body-label">Drop Out</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.dropout}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.activation !== ''">
                            <ion-row class="body-label">Activation</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.activation}}</ion-row>
                        </ion-col>

                        <!-- <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.innerActivation !== ''">
                            <ion-row class="body-label">Inner Activation</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.innerActivation}}</ion-row>
                        </ion-col> -->

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.loss !== ''">
                            <ion-row class="body-label">Loss</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.loss}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.metrics !== ''">
                            <ion-row class="body-label">Metrics</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.metrics}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.optimizer !== ''">
                            <ion-row class="body-label">Optimizer</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.optimizer}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.stateful !== ''">
                            <ion-row class="body-label">State</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.stateful}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.l1L2 !== ''">
                            <ion-row class="body-label">L1, L2</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.l1L2}}</ion-row>
                        </ion-col>

                        <!-- <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.l1L2 !== ''">
                            <ion-row class="body-label">L2</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.L2}}</ion-row>
                        </ion-col> -->

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.nlags !== ''">
                            <ion-row class="body-label">nlags</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.nlags}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.nleads !== ''">
                            <ion-row class="body-label">nleads</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.nleads}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.exclude !== ''">
                            <ion-row class="body-label">Exclude</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.exclude}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.groupBy !== ''">
                            <ion-row class="body-label">Group By</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.groupBy}}</ion-row>
                        </ion-col>

                        <!-- <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.timeStep !== ''">
                            <ion-row class="body-label">Time Step</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.timeStep}}</ion-row>
                        </ion-col> -->

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.encoderType !== ''">
                            <ion-row class="body-label">Encoder</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.encoderType}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.scalerType !== ''">
                            <ion-row class="body-label">Scaler</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.scalerType}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.testSize !== ''">
                            <ion-row class="body-label">Test Size</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.testSize}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.resetWeights !== ''">
                            <ion-row class="body-label">Reset Weights (sec)</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.resetWeights}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.encLayers !== ''">
                            <ion-row class="body-label">ENC Layers</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.encLayers}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.decLayers !== ''">
                            <ion-row class="body-label">DEC Layers</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.decLayers}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.cnnActivation !== ''">
                            <ion-row class="body-label">CNN Activation</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.cnnActivation}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.convActivation !== ''">
                            <ion-row class="body-label">Conv Activation</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.convActivation}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.lstmActivation !== ''">
                            <ion-row class="body-label">Lstm Activation</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.lstmActivation}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.cnnLayers !== ''">
                            <ion-row class="body-label">CNN Layers</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.cnnLayers}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.convLayers !== ''">
                            <ion-row class="body-label">Conv Layers</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.convLayers}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.lstmLayers !== ''">
                            <ion-row class="body-label">Lstm Layers</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.lstmLayers}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.filters !== ''">
                            <ion-row class="body-label">Filters</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.filters}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.kernelSize !== ''">
                            <ion-row class="body-label">Kernel Size</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.kernelSize}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.poolsize !== ''">
                            <ion-row class="body-label">Pool Size</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.poolsize}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.fcnActivation !== ''">
                            <ion-row class="body-label">FCN Activation</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.fcnActivation}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25" *ngIf="selectedModelObject.fcnLayers !== ''">
                            <ion-row class="body-label">FCN Layers</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.fcnLayers}}</ion-row>
                        </ion-col>

                        <ion-col class="col-md-3 col-sm-4 col-xs-12 mar-b-25">
                            <ion-row class="body-label">Job Type</ion-row>
                            <ion-row class="data-label">{{selectedModelObject.jobType}}</ion-row>
                        </ion-col>

                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-col>
    </ion-row>

</ion-row>